In [1]:
import pandas as pd 
import numpy as np 


df = pd.read_csv(r'/home/nader-muhammad/Documents/Data Engineering/Big_Projects/Data_warehouse2_CarsData/The Data/car_prices.csv')
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,knalw4d4xf6019304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,3c6td5et6cg112407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,5uxzw0c58cl668465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,1n4al3ap0fc216050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,1ftfw1et2eke87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Staging Layer

In [2]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus


user="dbeaver"
password=quote_plus('Dbeaver@123')
dbname='ETL_cars'
host='localhost'
port='3306'


engine=create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}")


df.to_sql("Bronze_ETL_cars", engine, index=False, if_exists="append")

558837

In [3]:
df.count()

year            558837
make            548536
model           548438
trim            548186
body            545642
transmission    493485
vin             558833
state           558837
condition       547017
odometer        558743
color           558088
interior        558088
seller          558837
mmr             558799
sellingprice    558825
saledate        558825
dtype: int64

### ETL Pocessing

### Uniqueness

In [4]:
df = df.drop_duplicates(subset=['year','make','model','trim','body','transmission', 'state', 'color','interior', 'seller','mmr','sellingprice','saledate'])

### Standardize(Consistency)

In [5]:
df['year'].unique()

array([2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005,
       2004, 2003, 2002, 2001, 2000, 1999, 1998, 1995, 1996, 1997, 1987,
       1994, 1993, 1992, 1989, 1991, 1990, 1986, 1985, 1988, 1984, 1982,
       1983])

In [6]:
df['make'].unique()

array(['Kia', 'BMW', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'MINI',
       'Land Rover', 'Lincoln', 'lincoln', 'Jaguar', 'Volkswagen',
       'Toyota', 'Subaru', 'Scion', 'Porsche', nan, 'bmw', 'Dodge',
       'FIAT', 'Chrysler', 'ford', 'Ferrari', 'Honda', 'GMC',
       'mitsubishi', 'Ram', 'smart', 'chevrolet', 'Bentley', 'chrysler',
       'pontiac', 'Pontiac', 'Saturn', 'Maserati', 'Mercury', 'HUMMER',
       'landrover', 'cadillac', 'land rover', 'mercedes', 'mazda',
       'toyota', 'lexus', 'gmc truck', 'honda', 'nissan', 'porsche',
       'Saab', 'Suzuki', 'dodge', 'subaru', 'Oldsmobile', 'oldsmobile',
       'hyundai', 'jeep', 'Isuzu', 'dodge tk', 'Geo', 'acura',
       'volkswagen', 'suzuki', 'kia', 'audi', 'Rolls-Royce', 'gmc',
       'maserati', 'mazda tk', 'mercury', 'buick', 'hyundai tk',
       'mercedes-b', 'vw', 'Daewoo', 'chev truck', 'ford tk', 'plymouth',
       'Plymouth', 'ford truck', 'Tesla', 'airstream', 'dot',
       'Aston Martin', 'Fisker', 'Lamborghini', 'Lotus'], dtype=object)

In [7]:
df['make'] = df['make'].replace({'Mercedes-B':'Mercedes-Benz', 'Vw':'Volkswagen', 'Ford Tk':'Ford Truck','Mazda Tk':'Mazda Truck', 'Hyundai Tk':'Hyundai Truck', 'Landrover':"Range Rover",'Land Rover':"Range Rover", 
                     'Ram':'RAM', 'Land Rover':'Range Rover','Dodge Tk':'Dodge Truck', 'Gmc':'GMC','Geo':'GEO',})

/tmp/ipykernel_54844/3745438065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['make'] = df['make'].replace({'Mercedes-B':'Mercedes-Benz', 'Vw':'Volkswagen', 'Ford Tk':'Ford Truck','Mazda Tk':'Mazda Truck', 'Hyundai Tk':'Hyundai Truck', 'Landrover':"Range Rover",'Land Rover':"Range Rover",

In [8]:
df["make"] = df['make'].str.strip().str.title()

/tmp/ipykernel_54844/1777634592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["make"] = df['make'].str.strip().str.title()

In [9]:
df['make'].unique()

array(['Kia', 'Bmw', 'Volvo', 'Nissan', 'Chevrolet', 'Audi', 'Ford',
       'Hyundai', 'Buick', 'Cadillac', 'Acura', 'Lexus', 'Infiniti',
       'Jeep', 'Mercedes-Benz', 'Mitsubishi', 'Mazda', 'Mini',
       'Range Rover', 'Lincoln', 'Jaguar', 'Volkswagen', 'Toyota',
       'Subaru', 'Scion', 'Porsche', nan, 'Dodge', 'Fiat', 'Chrysler',
       'Ferrari', 'Honda', 'Gmc', 'Ram', 'Smart', 'Bentley', 'Pontiac',
       'Saturn', 'Maserati', 'Mercury', 'Hummer', 'Landrover',
       'Land Rover', 'Mercedes', 'Gmc Truck', 'Saab', 'Suzuki',
       'Oldsmobile', 'Isuzu', 'Dodge Tk', 'Geo', 'Rolls-Royce',
       'Mazda Tk', 'Hyundai Tk', 'Mercedes-B', 'Vw', 'Daewoo',
       'Chev Truck', 'Ford Tk', 'Plymouth', 'Ford Truck', 'Tesla',
       'Airstream', 'Dot', 'Aston Martin', 'Fisker', 'Lamborghini',
       'Lotus'], dtype=object)

In [10]:
df['model'] = df['model'].str.title().str.strip().astype(str)

df['model']=df['model'].replace({'Uplandr':"Uplander", "ridgelin":"ridge line", "Sq5":"SQ5","Xc70":"XC70","Rr":"RR","Elr":"ELR", "Rx 350":"RX 350", "Fx":"FX", "Srx":"SRX","Ilx":"ILX","Tts":"TTS",
                                 "Mdx":"DDX","Gs 350":"GS 350","Rio":"RIO", "Es 350":"ES 350","Cx-9":"CX-9","Jx":"JX","Rx 450H":"RX 450H", "Lr4":"LR4","Ls 460":"LS 460","Mkx":"MKX","Mkt":"MKT",
                                  "Xf":"XF","Xc60":"XC-60","Nv":"NV","Cc":"CC",   })

/tmp/ipykernel_54844/1839092659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model'] = df['model'].str.title().str.strip().astype(str)
/tmp/ipykernel_54844/1839092659.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model']=df['model'].replace({'Uplandr':"Uplander", "ridgelin":"ridge line", "Sq5":"SQ5","Xc70":"XC70","Rr":"RR","Elr":"ELR", "Rx 350":"RX 350", "Fx":"FX", "Srx":"SRX","Ilx":"ILX","Tts":"TTS",

In [11]:
df['trim'].unique()

array(['LX', '328i SULEV', 'T5', ..., 'pure', 'EWB', 'Power Wagon'],
      shape=(1964,), dtype=object)

In [12]:
df['body'] = df['body'].str.title().replace({'Cts-V Wagon':'CTS-V Wagon', 'Tsx Sport Wagon':'TSX Sport Wagon', 'Cts Wagon':'CTS Wagon', 'Cts-V Coupe':'CTS-V Coupe', 'Cts Coupe':'CTS Coupe', 'Suv':'SUV'})
df['body'].unique()

/tmp/ipykernel_54844/2494309314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['body'] = df['body'].str.title().replace({'Cts-V Wagon':'CTS-V Wagon', 'Tsx Sport Wagon':'TSX Sport Wagon', 'Cts Wagon':'CTS Wagon', 'Cts-V Coupe':'CTS-V Coupe', 'Cts Coupe':'CTS Coupe', 'Suv':'SUV'})

array(['SUV', 'Sedan', 'Convertible', 'Coupe', 'Wagon', 'Hatchback',
       'Crew Cab', 'G Coupe', 'G Sedan', 'Elantra Coupe', 'Genesis Coupe',
       'Minivan', nan, 'Van', 'Double Cab', 'Crewmax Cab', 'Access Cab',
       'King Cab', 'Supercrew', 'CTS Coupe', 'Extended Cab',
       'E-Series Van', 'Supercab', 'Regular Cab', 'G Convertible', 'Koup',
       'Quad Cab', 'CTS-V Coupe', 'G37 Convertible', 'Club Cab',
       'Xtracab', 'Q60 Convertible', 'CTS Wagon', 'G37 Coupe', 'Mega Cab',
       'Cab Plus 4', 'Q60 Coupe', 'Cab Plus', 'Beetle Convertible',
       'TSX Sport Wagon', 'Promaster Cargo Van',
       'Granturismo Convertible', 'CTS-V Wagon', 'Ram Van', 'Transit Van',
       'Navitgation', 'Regular-Cab'], dtype=object)

In [13]:
df['transmission'] = df['transmission'].str.title()
df['transmission'].unique()

/tmp/ipykernel_54844/1062146062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transmission'] = df['transmission'].str.title()

array(['Automatic', nan, 'Manual', 'Sedan'], dtype=object)

In [14]:
df['vin'] = df['vin'].astype(str).apply(lambda x:x[0:3] + '-' + x[4:7] + '-' + x[8:11] + '-' + x[12:])

df

/tmp/ipykernel_54844/275631590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vin'] = df['vin'].astype(str).apply(lambda x:x[0:3] + '-' + x[4:7] + '-' + x[8:11] + '-' + x[12:])

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-66472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-61319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,328i SULEV,Sedan,Automatic,wba-c1c-1ek-16351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,Automatic,yv1-12t-4f1-10987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,650i,Sedan,Automatic,wba-b2c-7ed-29731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,kna-w4d-xf6-19304,in,45.0,18255.0,silver,black,avis corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,Automatic,3c6-d5e-6cg-12407,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,Bmw,X5,xDrive35d,SUV,Automatic,5ux-w0c-8cl-68465,ca,48.0,50561.0,black,black,financial services remarketing (lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,Sedan,Automatic,1n4-l3a-0fc-16050,ga,38.0,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,Supercrew,Automatic,1ft-w1e-2ek-87277,ca,34.0,15008.0,gray,gray,ford motor credit company llc pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [15]:
df['state'].unique()

array(['ca', 'tx', 'pa', 'mn', 'az', 'wi', 'tn', 'md', 'fl', 'ne', 'nj',
       'nv', 'oh', 'mi', 'ga', 'va', 'sc', 'nc', 'in', 'il', 'co', 'ut',
       'mo', 'ny', 'ma', 'pr', 'or', 'la', 'wa', 'hi', 'qc', 'ab', 'on',
       'ok', 'ms', 'nm', 'al', '3vwd17aj4fm201708', 'ns',
       '3vwd17aj2fm258506', '3vwd17aj3fm276741', '3vwd17aj2fm285365',
       '3vwd17aj0fm227318', '3vwd17aj6fm218641', '3vwd17aj7fm223475',
       '3vwd17aj5fm297123', '3vwd17aj5fm219943', '3vwd17aj9fm219766',
       '3vwd17aj3fm259017', '3vwd17aj5fm206111', '3vwd17aj5fm273601',
       '3vwd17aj5fm221322', '3vwd17aj5fm268964', '3vwd17aj6fm231972',
       '3vwd17aj7fm222388', '3vwd17aj7fm218440', '3vwd17ajxfm315938',
       '3vwd17aj7fm229552', '3vwd17aj8fm298895', '3vwd17aj4fm236636',
       '3vwd17aj5fm225953', '3vwd17aj7fm326640', '3vwd17aj8fm239622',
       '3vwd17aj2fm261566'], dtype=object)

In [16]:
df['color'].unique()

array(['white', 'gray', 'black', 'red', 'silver', 'blue', 'brown',
       'beige', 'purple', 'burgundy', '—', 'gold', 'yellow', 'green',
       'charcoal', nan, 'orange', 'off-white', 'turquoise', 'pink',
       'lime', '4802', '9410', '1167', '2172', '14872', '12655', '15719',
       '6388', '16633', '11034', '2711', '6864', '339', '18384', '9887',
       '9837', '20379', '20627', '721', '6158', '2817', '5705', '18561',
       '2846', '9562', '5001'], dtype=object)

In [17]:
df['color'] = df['color'].str.title().replace('—', np.nan)

df['color'].unique()

/tmp/ipykernel_54844/2257643915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['color'] = df['color'].str.title().replace('—', np.nan)

array(['White', 'Gray', 'Black', 'Red', 'Silver', 'Blue', 'Brown',
       'Beige', 'Purple', 'Burgundy', nan, 'Gold', 'Yellow', 'Green',
       'Charcoal', 'Orange', 'Off-White', 'Turquoise', 'Pink', 'Lime',
       '4802', '9410', '1167', '2172', '14872', '12655', '15719', '6388',
       '16633', '11034', '2711', '6864', '339', '18384', '9887', '9837',
       '20379', '20627', '721', '6158', '2817', '5705', '18561', '2846',
       '9562', '5001'], dtype=object)

In [18]:
df['interior'].unique()

array(['black', 'beige', 'tan', '—', 'gray', 'brown', 'burgundy', 'white',
       nan, 'silver', 'off-white', 'blue', 'red', 'yellow', 'green',
       'purple', 'orange', 'gold'], dtype=object)

In [19]:
df['interior'] = df['interior'].replace('—', np.nan)
df['interior'] = df['interior'].str.title()
df['interior'].unique()

/tmp/ipykernel_54844/280716829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interior'] = df['interior'].replace('—', np.nan)
/tmp/ipykernel_54844/280716829.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interior'] = df['interior'].str.title()

array(['Black', 'Beige', 'Tan', nan, 'Gray', 'Brown', 'Burgundy', 'White',
       'Silver', 'Off-White', 'Blue', 'Red', 'Yellow', 'Green', 'Purple',
       'Orange', 'Gold'], dtype=object)

In [20]:
df["seller"] = df['seller'].str.title()
df

/tmp/ipykernel_54844/4050226844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["seller"] = df['seller'].str.title()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-66472,ca,5.0,16639.0,White,Black,Kia Motors America Inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-61319,ca,5.0,9393.0,White,Beige,Kia Motors America Inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,328i SULEV,Sedan,Automatic,wba-c1c-1ek-16351,ca,45.0,1331.0,Gray,Black,Financial Services Remarketing (Lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,Automatic,yv1-12t-4f1-10987,ca,41.0,14282.0,White,Black,Volvo Na Rep/World Omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,650i,Sedan,Automatic,wba-b2c-7ed-29731,ca,43.0,2641.0,Gray,Black,Financial Services Remarketing (Lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,kna-w4d-xf6-19304,in,45.0,18255.0,Silver,Black,Avis Corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,Automatic,3c6-d5e-6cg-12407,wa,5.0,54393.0,White,Black,I -5 Uhlmann Rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,Bmw,X5,xDrive35d,SUV,Automatic,5ux-w0c-8cl-68465,ca,48.0,50561.0,Black,Black,Financial Services Remarketing (Lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,Sedan,Automatic,1n4-l3a-0fc-16050,ga,38.0,16658.0,White,Black,Enterprise Vehicle Exchange / Tra / Rental / T...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,Supercrew,Automatic,1ft-w1e-2ek-87277,ca,34.0,15008.0,Gray,Gray,Ford Motor Credit Company Llc Pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Handling Nulls(Completeness)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558235 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558235 non-null  int64
 1   make          547949 non-null  object
 2   model         558235 non-null  object
 3   trim          547599 non-null  object
 4   body          545056 non-null  object
 5   transmission  492957 non-null  object
 6   vin           558235 non-null  object
 7   state         558235 non-null  object
 8   condition     546415 non-null  float64
 9   odometer      558141 non-null  float64
 10  color         532841 non-null  object
 11  interior      540415 non-null  object
 12  seller        558235 non-null  object
 13  mmr           558197 non-null  float64
 14  sellingprice  558223 non-null  float64
 15  saledate      558223 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 72.4+ MB

In [22]:
df['make'] = df['make'].fillna(method='ffill')

/tmp/ipykernel_54844/4084736625.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['make'] = df['make'].fillna(method='ffill')
/tmp/ipykernel_54844/4084736625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['make'] = df['make'].fillna(method='ffill')

In [23]:
df['model'] = df['model'].fillna("No Model")

/tmp/ipykernel_54844/837080368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['model'] = df['model'].fillna("No Model")

In [24]:
df['trim'] = df['trim'].fillna("No Data")

/tmp/ipykernel_54844/1060222491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['trim'] = df['trim'].fillna("No Data")

In [25]:
df['body'] = df['body'].fillna('No Info')

/tmp/ipykernel_54844/571818156.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['body'] = df['body'].fillna('No Info')

In [26]:
df['transmission'] = df['transmission'].fillna(method='bfill')

/tmp/ipykernel_54844/1277590053.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['transmission'] = df['transmission'].fillna(method='bfill')
/tmp/ipykernel_54844/1277590053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['transmission'] = df['transmission'].fillna(method='bfill')

In [27]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-66472,ca,5.0,16639.0,White,Black,Kia Motors America Inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-61319,ca,5.0,9393.0,White,Beige,Kia Motors America Inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,Bmw,3 Series,328i SULEV,Sedan,Automatic,wba-c1c-1ek-16351,ca,45.0,1331.0,Gray,Black,Financial Services Remarketing (Lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,Automatic,yv1-12t-4f1-10987,ca,41.0,14282.0,White,Black,Volvo Na Rep/World Omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,Bmw,6 Series Gran Coupe,650i,Sedan,Automatic,wba-b2c-7ed-29731,ca,43.0,2641.0,Gray,Black,Financial Services Remarketing (Lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,Automatic,kna-w4d-xf6-19304,in,45.0,18255.0,Silver,Black,Avis Corporation,35300.0,33000.0,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,Automatic,3c6-d5e-6cg-12407,wa,5.0,54393.0,White,Black,I -5 Uhlmann Rv,30200.0,30800.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,Bmw,X5,xDrive35d,SUV,Automatic,5ux-w0c-8cl-68465,ca,48.0,50561.0,Black,Black,Financial Services Remarketing (Lease),29800.0,34000.0,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,Sedan,Automatic,1n4-l3a-0fc-16050,ga,38.0,16658.0,White,Black,Enterprise Vehicle Exchange / Tra / Rental / T...,15100.0,11100.0,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,Supercrew,Automatic,1ft-w1e-2ek-87277,ca,34.0,15008.0,Gray,Gray,Ford Motor Credit Company Llc Pd,29600.0,26700.0,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [28]:
df['vin'] = df['vin'].fillna("Missing")

/tmp/ipykernel_54844/506503445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['vin'] = df['vin'].fillna("Missing")

In [29]:
df['condition'] = df['condition'].fillna(df['condition'].mean())

/tmp/ipykernel_54844/766286844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['condition'] = df['condition'].fillna(df['condition'].mean())

In [30]:
df['odometer'] = df['odometer'].fillna(df['odometer'].mean())

/tmp/ipykernel_54844/2680138148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['odometer'] = df['odometer'].fillna(df['odometer'].mean())

In [31]:
df['color'] = df['color'].fillna('No Color')

/tmp/ipykernel_54844/3083764813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['color'] = df['color'].fillna('No Color')

In [32]:
df['interior'] = df['interior'].fillna('No Data')

/tmp/ipykernel_54844/3614380237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['interior'] = df['interior'].fillna('No Data')

In [33]:
df['mmr'] = df['mmr'].fillna(df['mmr'].mean())

/tmp/ipykernel_54844/177773860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mmr'] = df['mmr'].fillna(df['mmr'].mean())

In [34]:
df['sellingprice'] = df['sellingprice'].fillna(df['sellingprice'].mean())

/tmp/ipykernel_54844/1030217371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sellingprice'] = df['sellingprice'].fillna(df['sellingprice'].mean())

In [35]:
df['saledate'] = df['saledate'].fillna(method='ffill')

/tmp/ipykernel_54844/862098567.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['saledate'] = df['saledate'].fillna(method='ffill')
/tmp/ipykernel_54844/862098567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['saledate'] = df['saledate'].fillna(method='ffill')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558235 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558235 non-null  int64
 1   make          558235 non-null  object
 2   model         558235 non-null  object
 3   trim          558235 non-null  object
 4   body          558235 non-null  object
 5   transmission  558235 non-null  object
 6   vin           558235 non-null  object
 7   state         558235 non-null  object
 8   condition     558235 non-null  float64
 9   odometer      558235 non-null  float64
 10  color         558235 non-null  object
 11  interior      558235 non-null  object
 12  seller        558235 non-null  object
 13  mmr           558235 non-null  float64
 14  sellingprice  558235 non-null  float64
 15  saledate      558235 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 72.4+ MB

### Convert Data Types(Validity)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558235 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558235 non-null  int64
 1   make          558235 non-null  object
 2   model         558235 non-null  object
 3   trim          558235 non-null  object
 4   body          558235 non-null  object
 5   transmission  558235 non-null  object
 6   vin           558235 non-null  object
 7   state         558235 non-null  object
 8   condition     558235 non-null  float64
 9   odometer      558235 non-null  float64
 10  color         558235 non-null  object
 11  interior      558235 non-null  object
 12  seller        558235 non-null  object
 13  mmr           558235 non-null  float64
 14  sellingprice  558235 non-null  float64
 15  saledate      558235 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 72.4+ MB

In [38]:
df['condition'] = df['condition'].astype(int)

/tmp/ipykernel_54844/3723449323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['condition'] = df['condition'].astype(int)

In [39]:
df['saledate'] = df['saledate'].astype(str).apply(lambda x:x[0:16])

/tmp/ipykernel_54844/218786429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['saledate'] = df['saledate'].astype(str).apply(lambda x:x[0:16])

In [40]:
df

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-66472,ca,5,16639.0,White,Black,Kia Motors America Inc,20500.0,21500.0,Tue Dec 16 2014
1,2015,Kia,Sorento,LX,SUV,Automatic,5xy-tca-9fg-61319,ca,5,9393.0,White,Beige,Kia Motors America Inc,20800.0,21500.0,Tue Dec 16 2014
2,2014,Bmw,3 Series,328i SULEV,Sedan,Automatic,wba-c1c-1ek-16351,ca,45,1331.0,Gray,Black,Financial Services Remarketing (Lease),31900.0,30000.0,Thu Jan 15 2015
3,2015,Volvo,S60,T5,Sedan,Automatic,yv1-12t-4f1-10987,ca,41,14282.0,White,Black,Volvo Na Rep/World Omni,27500.0,27750.0,Thu Jan 29 2015
4,2014,Bmw,6 Series Gran Coupe,650i,Sedan,Automatic,wba-b2c-7ed-29731,ca,43,2641.0,Gray,Black,Financial Services Remarketing (Lease),66000.0,67000.0,Thu Dec 18 2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,Automatic,kna-w4d-xf6-19304,in,45,18255.0,Silver,Black,Avis Corporation,35300.0,33000.0,Thu Jul 09 2015
558833,2012,Ram,2500,Power Wagon,Crew Cab,Automatic,3c6-d5e-6cg-12407,wa,5,54393.0,White,Black,I -5 Uhlmann Rv,30200.0,30800.0,Wed Jul 08 2015
558834,2012,Bmw,X5,xDrive35d,SUV,Automatic,5ux-w0c-8cl-68465,ca,48,50561.0,Black,Black,Financial Services Remarketing (Lease),29800.0,34000.0,Wed Jul 08 2015
558835,2015,Nissan,Altima,2.5 S,Sedan,Automatic,1n4-l3a-0fc-16050,ga,38,16658.0,White,Black,Enterprise Vehicle Exchange / Tra / Rental / T...,15100.0,11100.0,Thu Jul 09 2015
558836,2014,Ford,F-150,XLT,Supercrew,Automatic,1ft-w1e-2ek-87277,ca,34,15008.0,Gray,Gray,Ford Motor Credit Company Llc Pd,29600.0,26700.0,Thu May 28 2015

In [41]:
df['saledate'] = pd.to_datetime(df['saledate'], format='mixed', errors='coerce')

/tmp/ipykernel_54844/2303315577.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['saledate'] = pd.to_datetime(df['saledate'], format='mixed', errors='coerce')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 558235 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558235 non-null  int64
 1   make          558235 non-null  object
 2   model         558235 non-null  object
 3   trim          558235 non-null  object
 4   body          558235 non-null  object
 5   transmission  558235 non-null  object
 6   vin           558235 non-null  object
 7   state         558235 non-null  object
 8   condition     558235 non-null  int64
 9   odometer      558235 non-null  float64
 10  color         558235 non-null  object
 11  interior      558235 non-null  object
 12  seller        558235 non-null  object
 13  mmr           558235 non-null  float64
 14  sellingprice  558235 non-null  float64
 15  saledate      558209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(10)
memory usage: 72.4+ MB

In [43]:
# df.to_sql("Silver_ETL_cars", engine, if_exists='append', index=False)

In [49]:
df.to_sql("Silver_cars", engine, if_exists='append', index=False)

558235